.bookmark-list {
  --card-size: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
  grid-template-rows: 1fr;
  gap: 1rem;
}

.bookmark-wrapper {
  position: relative;
  height: 0;
  padding-top: 100%;
}

.bookmark-card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--card-background);
  border-radius: 1rem;
  transition: background 150ms ease-in-out;

  &:hover {
    background: var(--theme-color);
  }

  h2.name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 400;
  }

  h3.description {
    margin-top: 0.25rem;
    margin-bottom: 0;
    color: var(--medium-color);
    font-size: 1rem;
    font-weight: 400;
  }
}
